body {
    background-color: #85DCBA;
    min-width: 800px;
    min-height: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titletext {
    width: 700px;
    height: 157px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.year6 {
    display: flex;
    flex: 5;
}

.Continue {
    
    width: 336px;
    height: 104px;
}
