body {
    background-color: #85DCBA;
    min-width: 800px;
    min-height: 800px;
}

.gamePlay {
    position: fixed;
    top: 10%;
    left: 50%;
}


.gamePlayText {
    position: absolute;
    width: 445px;
    height: 157px;
    left: calc(50% - 445px/2 + 11.5px);
    top: calc(50% - 157px/2 + 26.5px);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.tray {
    position: absolute;
    width: absolute;
    height: 285px;
    left: center;
    top: 463px;    
}

.RedoButton {
    position: absolute;
    width: 81px;
    height: 77px;
    left: 1279.91px;
    top: 76.98px;
}
.arrowButton {
    position: absolute;
    width: 151.11px;
    height: 152.83px;
    left: 75px;
    top: -11px;
    cursor: pointer;
}

.qanda{
    position: absolute;
    left: center;
    top: 700px;  
    width: 800px;
    height: 52.83px; 
    font-size: 30px; 
}

.answer{
    font-size: 30px; 
}

.check{
    font-size: 30px; 
}