body {
    background-color: #85DCBA;
    min-width: 800px;
    min-height: 800px;
}

.help {
    position: fixed;
    top: 10%;
    left: 50%;
}

.title {
    position: fixed;
    top: 40%;
    left: 50%;
}

.AboutUs {
    position: fixed;
    top: 50%;
    left: 50%;
}

.helptext {
    position: absolute;
    width: 445px;
    height: 157px;
    left: calc(50% - 531px/2 - 0.5px);
    top: calc(50% - 107.54px/2 + 10.77px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 500px;
    text-align: center;
    
    color: #AB5942;
}

.titletext {
    position: absolute;
    width: 531px;
    height: 107.54px;
    left: calc(50% - 531px/2 - 0.5px);
    top: calc(50% - 107.54px/2 - 235.23px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.AboutUsText {
    position: absolute;
    width: 722px;
    height: 244px;
    left: calc(50% - 722px/2);
    top: calc(5% - 244px/2 + 187px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    
    color: #AB5942;
}

.helpParagraph{
    position: absolute;
    width: 722px;
    height: 244px;
    left: calc(50% - 722px/2);
    top: calc(35% - 244px/2 + 187px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    
    color: #AB5942;

}

.Image{
    width: 300px;
    height: 300px;

}