body {
    background-color: #85DCBA;
    /* min-width: 1000px;
    min-height: 1000px; */
}

.titletext {
    display: flex;
    flex: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.selectorContainer {
    display: flex;
    flex: 4;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
}

.yearlevel {
    display: flex;
    flex: 1;
    align-items: center;
}

.yearleveltext {
    width: 445px;
    height: 110px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
    align-items: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.levelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.levelButton {
    width: 300px;
    height: 193px;
    margin: 10px;
    cursor: pointer;
}

.learnButton {
    position: absolute;
    width: 336px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 800px;
    cursor: pointer;
}

.arrowButton {
    position: absolute;
    width: 151.11px;
    height: 152.83px;
    left: 75px;
    top: -11px;
    cursor: pointer;
}

.learn {
    display: flex;
    flex: 1;
    padding-top: 30px;
}
