body {
    background-color: #85DCBA;
    min-width: 800px;
    min-height: 800px;
}

.multiplication {
    position: fixed;
    top: 10%;
    left: 50%;
}


.multiplicationText {
    position: absolute;

    height: 126px;
    left: center;
    top: 54px;
 
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}