.body, html{
    height: 100%;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

.header {
    display: flex; 
    flex: 1;
    align-items: center;
}

.backButton {
    flex-grow: 1;
    font-size: 30px; 
}

.timer {
    text-align: center;
    flex-grow: 1;
    font-size: 30px; 
}

.reset {
    text-align: right;
    flex-grow: 1;
    font-size: 30px; 
}

.puzzle {
    display: flex;
    flex: 10;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.puzzleRow {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.puzzleSlot {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    flex: 1;
    width: 150px;
    height: 150px;
}

.pieces {
    display: flex;
    flex: 4;
}

.piece1 {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: lightgray;
    position: absolute;
    left: 100px;
    background: url(../puzzleImages/unicorn.jpg)  0 0;
}

.piece2 {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: lightgray;
    position: absolute;
    left: 500px;
    background: url(../puzzleImages/unicorn.jpg)  -1500px -750px;
}

.qanda {
    display: flex;
    border-style: solid;
    border-color: lightskyblue;
    flex: 2;
    justify-content: center;
    padding:5px
}

.formula {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:5px
}

.question {
    font-size: 30px; 
    margin:5px
}

.answer{
    font-size: 30px; 
    margin:5px
}

.check{
    font-size: 30px; 
    margin:5px
}