body {
    background-color: #85DCBA;
    /* min-width: 1000px;
    min-height: 1000px; */
}

.PuzzleSelector {
    position: fixed;
    top: 10%;
    left: 50%;
}

.PuzzleSelectortext {
    position: absolute;
    width: 445px;
    height: 157px;
    left: calc(50% - 445px/2 + 11.5px);
    top: calc(50% - 157px/2 + 26.5px);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.titletext {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #AB5942;
}

.selectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 1000px;
}

.flexContainter {
    display: flex;
    flex-direction: row;
    background-color: pink;
    border: #AB5942;
    border-radius: 10px;
}

.levelButton {
    width: 300px;
    height: 193px;
    margin: 10px;
    cursor: pointer;
}
